@page "/greeting"

@foreach (var word in _greeting)
{
    <p>@word</p>
}

@code {

    List<string> _greeting = new List<string>();

    public async override Task SetParametersAsync(ParameterView parameters)
    {
         await  base.SetParametersAsync(parameters);

         _greeting.Add("Welcome");

        await Task.Delay(1000);
        _greeting.Add("to");
         StateHasChanged();

        await Task.Delay(10000);
        _greeting.Add("Blazor in Action");
         StateHasChanged();
    }


    protected override async Task OnInitializedAsync()
    {
       
      
    }
}

